---
import Layout from "../layouts/Layout.astro"
---

<Layout title="404 Not Found">
    <div class="grid h-max px-4 bg-white place-content-center dark:bg-gray-900">
        <h1 class="tracking-widest text-gray-500 uppercase dark:text-gray-400">
          404 | Not Found
        </h1>
    </div>
</Layout>
